<section class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col mx-5">
            <ul class="d-flex flex-column justify-content-center">
                {% for item in page.script %}
                <li class="script-list d-flex align-items-center py-2">
                    <div class="d-flex {% case item.align %}{% when 'Left' %}flex-row {% when 'Center' %}flex-column text-center{% when 'Right' %}flex-row text-right{% endcase %} align-items-center">{% if item.icon %}<img src="{{ item.icon }}" width="40px">{% endif %}{{ item.text | markdownify }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>