<section class="container">
  <div class="row my-4">
    <div class="col">
      <h1>Scripts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for group in site.groups %}
          <tr>
            <td scope="row">{% if group.image %}<img src="{{group.image}}" width="40px" >{% endif %} {{ group.title }}</td>
            <td class="text-end"><a href="{{ group.url }}" class="btn btn-light">View</a></td>
          </tr>
          {% endfor %}          
        </tbody>
      </table>
    </div>
  </div>
</section>