<section class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for group in site.groups %}
                  <tr>
                    <th scope="row">{{ group.title }}</th>
                    <td><a href="{{ group.url }}">View</a></td>
                  </tr>
                    {% endfor %}
                  
                </tbody>
              </table>
        </div>
    </div>
</section>